header{
  text-align: center;
  color: #FFF;
  font-size: 1.4em;
  width:100%;
  background-color: #888888;
  padding:30px;
}

h2{
  margin:0;
  padding:0;
}

.sm{
  font-size: 0.6em;
  font-style: italic;
  margin: 0;
  padding: 0;
  padding-left: 540px;
}